<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284819686760-edflsl1pkks30qs3jjbl5tc60hlipq2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284819686760-edflsl1pkks30qs3jjbl5tc60hlipq2s</string>
	<key>API_KEY</key>
	<string>AIzaSyDddOnsixOp5p_YNdu7ulShYBYogB0aeXM</string>
	<key>GCM_SENDER_ID</key>
	<string>284819686760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UlisesOrtega.messengerT</string>
	<key>PROJECT_ID</key>
	<string>instantmessages-b4fc3</string>
	<key>STORAGE_BUCKET</key>
	<string>instantmessages-b4fc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284819686760:ios:9b8602e9e77c65f41942dd</string>
</dict>
</plist>